
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
/* ::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #fa3b5b;
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.container{
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(7000px) rotateY(15deg) rotateX(55deg) rotateZ(-40deg);
}

.trigger{
    margin: 25px;
}

.phone{
    position: relative;
    border-radius: 20px;
    height: 500px;
    width: 250px;
    box-shadow: -20px 20px 50px rgb(0, 0, 0, 0.4);
    transition: 0.5s;
}
.trigger:hover .phone{
transform: translate(100px, -50px) scale(1.1);
box-shadow: -120px 120px 150px rgb(0, 0, 0, 0.3);
z-index: 9999;
}

.phone:nth-child(1){
    z-index: 3;
}
.phone:nth-child(2){
    z-index: 5;
}
.phone:nth-child(3){
    z-index: 2;
}
.phone:nth-child(4){
    z-index: 4;
}
.phone-top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px, 20px, 0, 0;
}
.phone-top::after{
    content: '';
    height: 5px;
    width: 35px;
    border-radius: 20px;
}
.phone-screen{
    background-color: #f1f1f1;
    padding: 40px 40px 10px;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    box-shadow: 
    -1px 1px 0 #bcbcbc,
    -2px 2px 0 #bcbcbc,
    -3px 3px 0 #bcbcbc,
    -4px 4px 0 #bcbcbc,
    -5px 5px 0 #bcbcbc,
    -6px 6px 0 #bcbcbc,
    -7px 7px 0 #bcbcbc,
    -8px 8px 0 #bcbcbc;
}
.phone-screen h2{
    font-weight: 100;
    font-size: 80px;
}
.phone-screen p{
   margin: 10px 0;
   text-transform: uppercase;
   font-size: 10px;
   font-weight: 600;
   line-height: 1.5;
   letter-spacing: 1px;
}
.phone-screen h3{
    font-weight: 300;
    font-size: 30px;
 }
.dots{
    display: inline-block;
}
.dots span{
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
}
.dots span:nth-child(1){
background-color: #ffae00;
}
.dots span:nth-child(2){
background-color: #ff8800;
}
.dots span:nth-child(3){
background-color: #fa3b5b;
}

.phone-screen hr{
    width: 30%;
 background: linear-gradient(to right, #ffae00, #fa3b5b);
 border: none;
 height: 1px;
 margin: 20px 0;
}
.designer{
    margin-top: 30px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.designer span{
 padding: 10px 0 0;
}
    .phone-bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0 0 20px 20px;
    }
    .phone-bottom::after{
        content: '';
        height: 30px;
        width: 30px;
        border-radius: 50%;

    }
    .speakers{
        display: flex;
        position: absolute;
    }
    .speakers-left{
        left: 45px;
        bottom: -6px;

    }
    .speakers-right{
        right: 45px;
        bottom: -6px;
    }
    .speakers span{
        height: 4px;
        width: 4px;
        margin: 0 0.5px;
        border-radius: 50%;
        transform: skewX(-40deg);
    }
    .pink .phone-top{
        background: linear-gradient(to right, #e9a2b4, #f0d9df);
        box-shadow:
        -1px 1px 0 #b68490,
        -2px 2px 0 #b68490,
        -3px 3px 0 #b68490,
        -4px 4px 0 #b68490,
        -5px 5px 0 #b68490,
        -6px 6px 0 #b68490,
        -7px 7px 0 #b68490,
        -8px 8px 0 #b68490;
        border-radius: 20px 20px 0 0;
    }
    .pink .phone-top::after{
        background-color: #e888a3;
    }
    .pink .phone-bottom{
        background: linear-gradient(to right, #edc7d3, #ffe8ef);
        box-shadow:
        -1px 1px 0 #d4afb7,
        -2px 2px 0 #d4afb7,
        -3px 3px 0 #d4afb7,
        -4px 4px 0 #d4afb7,
        -5px 5px 0 #d4afb7,
        -6px 6px 0 #d4afb7,
        -7px 7px 0 #d4afb7,
        -8px 8px 0 #d4afb7;
    }
     .pink .phone-bottom::after{
        background-color: #ecbdcd;
     }
     .pink .speakers span{
        background: linear-gradient(to right, #c58c9d, #dd9db0);
     }
     .pink .charge{
        background: linear-gradient(to right, #c58c9d, #dd9db0);
     }
.charge{
position: absolute;
bottom: -6px;
left: 110px;
width: 30px;
height: 4px;
border-radius: 5px;
transform: skeW(-40deg);
}
   

 

.green .phone-top{
    background: linear-gradient(to right, #81DFC5,#d9f3eb);
    box-shadow:
    -1px 1px 0 #609686,
    -2px 2px 0 #609686,
    -3px 3px 0 #609686,
    -4px 4px 0 #609686,
    -5px 5px 0 #609686,
    -6px 6px 0 #609686,
    -7px 7px 0 #609686,
    -8px 8px 0 #609686;
    border-radius: 20px 20px 0 0;
}
.green .phone-top::after{
    background-color: #879e97;
}
.green .phone-bottom{
    background: linear-gradient(to right, #81DFC5,#d9f3eb);
    box-shadow:
    -1px 1px 0 #609686,
    -2px 2px 0 #609686,
    -3px 3px 0 #609686,
    -4px 4px 0 #609686,
    -5px 5px 0 #609686,
    -6px 6px 0 #609686,
    -7px 7px 0 #609686,
    -8px 8px 0 #609686;
}
 .green .phone-bottom::after{
    background-color: #91ceba;
 }
 .green .speakers span{
    background: linear-gradient(to right, #56947f, #bcdbd1);
 }
 .green .charge{
    background: linear-gradient(to right, #71b39d, #8ab4a5);
 }


 .yellow .phone-top{
    background: linear-gradient(to right, #F0E6A0,#fdfae1);
    box-shadow:
    -1px 1px 0 #ada24f,
    -2px 2px 0 #ada24f,
    -3px 3px 0 #ada24f,
    -4px 4px 0 #ada24f,
    -5px 5px 0 #ada24f,
    -6px 6px 0 #ada24f,
    -7px 7px 0 #ada24f,
    -8px 8px 0 #ada24f;
    border-radius: 20px 20px 0 0;
}
.yellow .phone-top::after{
    background-color: #ADA24F;
}
.yellow .phone-bottom{
    background: linear-gradient(to right, #f3eaa8,#fdfae1);
    box-shadow:
    -1px 1px 0 #ada24f,
    -2px 2px 0 #ada24f,
    -3px 3px 0 #ada24f,
    -4px 4px 0 #ada24f,
    -5px 5px 0 #ada24f,
    -6px 6px 0 #ada24f,
    -7px 7px 0 #ada24f,
    -8px 8px 0 #ada24f;
}
 .yellow .phone-bottom::after{
    background-color: #F1E990;
 }
 .yellow .speakers span{
    background: linear-gradient(to right, #c7bf66, #f8f4c8);
 }
 .yellow .charge{
    background: linear-gradient(to right, #c2bb6e, #d8d180);
 }





 
 .blue .phone-top{
    background: linear-gradient(to right, #62B7BA,#95D8DA);
    box-shadow:
    -1px 1px 0 #2c787a,
    -2px 2px 0 #2c787a,
    -3px 3px 0 #2c787a,
    -4px 4px 0 #2c787a,
    -5px 5px 0 #2c787a,
    -6px 6px 0 #2c787a,
    -7px 7px 0 #2c787a,
    -8px 8px 0 #2c787a;
    border-radius: 20px 20px 0 0;
}
.blue .phone-top::after{
    background-color: #3FA4A4;
}
.blue .phone-bottom{
    background: linear-gradient(to right, #62B7BA,#95D8DA);
    box-shadow:
    -1px 1px 0 #2c787a,
    -2px 2px 0 #2c787a,
    -3px 3px 0 #2c787a,
    -4px 4px 0 #2c787a,
    -5px 5px 0 #2c787a,
    -6px 6px 0 #2c787a,
    -7px 7px 0 #2c787a,
    -8px 8px 0 #2c787a;
}
 .blue .phone-bottom::after{
    background-color: #43a5a5;
 }
 .blue .speakers span{
    background: linear-gradient(to right, #4ba1a1, #94dbdb);
 }
 .blue .charge{
    background: linear-gradient(to right, #4ba1a1, #94dbdb);
 }
